body {
  color:gold;
  background-color:black;
  line-height: 1.8;
  font-size: 22px;
}

.navbar {
  display: flex;
  justify-content: center;
}

.link{
  font-size: 30px;
  background-color: gold;
  color: black;
  text-decoration: none;
  margin: 50px;
  font-size:xx-large;
  padding: 0 10px;

}
.searchButton {
  font-size: 20px;
  border-radius: 10%;
}

.main {
  margin-top: 90px;
  display:inline-flexbox;
  text-align: center;
}
.past {
  color: rgb(219, 162, 87);
  /* display:flex; */
  /* margin: auto; */
  /* justify-content:; */
  text-align: center;
}
.main-link {
  font-size: 50px;
  background-color: gold;
  color: black;
  text-decoration: none;
  border-radius: 100px;
  margin: 90px;
  padding: 30px;
  transition-duration: 0.7s;
}

.main-link:hover{
  border-radius: 8px;
  transition: 0.5s;
  background-color: rgb(255, 255, 255);
}
.nasa-photo{
/* display: flex; */
text-align: center;
}

.navbar{
  display: flex;
  justify-content: end;
}

.nasa-photo img {
  width: 60%;
  margin-left: 50px;

}

.explanation{
  width: 60%;
  margin: 0 auto;
}
